body {
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro {
    margin: 0 auto;
    width: 400px;
}

    #intro > h1 {
        color: black;
    }

.carousel-inner {
    width: 444px;
    margin: 0 auto;
}